$base-space: 16px;

// ----  Core spacing values --------
$space-3xs: 2px;
$space-2xs: 4px;
$space-xs: 6px;
$space-s: 8px;
$space-sm: 10px;
$space-md: 12px;
$space-ml: 14px;
$space-base: 16px;
$space-lg: 20px;
$space-xl: 24px;
$space-2xl: 28px;
$space-3xl: 32px;
$space-x4: 36px;
$space-x5: 36px;
