@use '../../assets/styles/base/base' as *;
@use '../../assets/styles/abstract/variables' as *;
// $gap: main.$base-space;

.form-container {
  margin: $space-base * 1.5 auto;
}

.form-header {
  color: $text-dark;
  font-size: 1.7rem;
  font-weight: bold;
  margin: $space-base * 0.5 2px;
  text-transform: uppercase;
}

.form-add {
  border: 1px solid $emphasis-light-100;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: $space-base 28px;
  border-radius: $space-base * 0.5;
  background-color: $light;

  label {
    flex: 1;
    margin: 0 4px;
    padding: 0 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
  }

  span {
    margin-right: 4px;
  }

  input {
    // border: 1px solid $secondary;
    // padding: 8px 10px;
    // margin: 0 8px 0 4px;
    border-radius: $space-xs;
    flex: 1;
    font-weight: 400;

    &:focus {
      outline: none;
      border-color: $emphasis-light-100; /* your primary color */
      box-shadow: 0 0 0 2px $emphasis-light-200; /* soft glow */
    }

    &::placeholder,
    &[type='date'] {
      font-weight: 400;
    }

    &[type='file'] {
      color: $auxiliary;
      font-size: 0.9rem;

      &:hover {
        cursor: pointer;
      }

      &::file-selector-button {
        background-color: $auxiliary;
        color: white;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
        color: $text-dark;
        transition: background-color 0.25s ease;
        font-family: inherit;

        &:hover {
          background-color: $emphasis-light-100;
        }
      }
    }
  }

  .submit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    width: 120px;
    padding: 10px 16px;
    margin: 10px 10px 10px 16px;
    color: $text-light;
    border-radius: 6px;
    transition: background-color 0.25s ease;
    -webkit-box-shadow: 1px 4px 7px -1px rgba(17, 17, 17, 0.23);
    box-shadow: 1px 4px 7px -1px rgba(17, 17, 17, 0.23);

    &:hover {
      cursor: pointer;
      background-color: $emphasis-dark;
      transition: background-color 0.25s ease;
    }

    .add {
      width: 16px;
      height: 16px;
      margin-right: 6px;
    }
  }
}
