@use '../../assets/styles/abstract/variables' as *;
@use '../../assets/styles/base/base' as *;

.table-container {
  overflow: auto;
  width: 100%;
  margin-bottom: $space-5xl;

  .table-main {
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;

    caption {
      caption-side: top;
      text-align: left;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.7rem;
      margin-bottom: 4px;
    }

    th {
      border: 1px solid $emphasis-light;
      background-color: $emphasis-dark;
      color: #f8f8f8;
      padding: 5px;
      text-align: center;
      font-weight: 500;

      &:first-child {
        width: 20%;
      }

      &:last-child {
        width: 8%;
        padding: 0 4px;
      }

      &:not(:first-child):not(:last-child) {
        width: 10%;
      }
    }

    tbody {
      td {
        border: 1px solid $emphasis-light;
        background-color: $light;
        color: $text-dark;
        padding: 5px;
        font-size: 0.95rem;
        padding: 8px 6px;
      }

      tr.sold > td {
        background-color: rgba(109, 109, 109, 0.2);
      }

      .gain {
        color: #01ac01;
      }

      .loss {
        color: $error-main;
      }
      td:nth-child(n + 2) {
        text-align: center;
      }
    }

    .options {
      font-size: 0.9rem;

      .icons-container {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          margin: 0 $space-xs;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid transparent;

          &:hover {
            border-radius: 50%;
            border: 2px solid $emphasis-light;
            cursor: pointer;
          }

          .fas {
            width: 25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            font-size: 0.9rem;
          }

          &.view {
            color: $primary;

            &:hover {
              color: $disabled;
            }
          }
          &.edit {
            color: $dark;

            &:hover {
              color: $disabled;
            }
          }
          &.delete {
            color: $delete;

            &:hover {
              color: $disabled;
            }
          }
        }
      }
    }
  }
}
