@use '../../assets/styles/abstract/variables' as *;

.table-container {
  overflow: auto;
  width: 100%;

  .table-main {
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;

    caption {
      caption-side: top;
      text-align: left;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.7rem;
      margin-bottom: 4px;
    }

    th {
      border: 1px solid $emphasis-light;
      background-color: $emphasis-dark;
      color: #f8f8f8;
      padding: 5px;
      text-align: center;
      font-weight: 500;
    }

    tbody {
      td {
        border: 1px solid $emphasis-light;
        background-color: $light;
        color: $text-dark;
        padding: 5px;
        font-size: 0.95rem;
        padding: 12px;
      }

      td:nth-child(n + 2) {
        text-align: center;
      }

      tr:hover td {
        background-color: white;
      }
    }
  }
}
