@use '../assets/styles/abstract/variables' as *;
@use '../assets/styles/base/base' as *;

.login {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: $space-base * 4 auto 0 auto;
  padding: $space-base;
  border: 1px solid $secondary;
  box-shadow: 0 2px 6px $emphasis-light;

  h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: $space-base;
  }

  label {
    display: flex;
    flex-direction: column;
    padding: $space-xs 0;
    margin-top: $space-smd;

    &:first-child {
      margin-top: 0;
    }
  }

  span {
    font-weight: 600;
  }

  input {
    padding: $space-smd $space-2xs;
    margin: $space-2xs 0;
  }

  .forgot-password {
    margin-top: $space-lg;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .forgot-password > a {
    text-decoration: none;
    color: $emphasis-dark-200;
    font-weight: 300;
    font-size: 0.85rem;
    display: inline-block;
    transition: color 0.25s ease;

    &:hover {
      color: $text-dark;
      transition: color 0.25s ease;
    }
  }
}
