@use '../../assets/styles/abstract/variables' as *;
@use '../../assets/styles/base/base' as *;

.nav-container {
  background-color: $primary;
  padding: $space-2xs $space-smd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $emphasis-dark;
}

.logo {
  width: 300px;
}

.nav-list-group {
  list-style: none;
  display: flex;

  li {
    padding: calc($base-space/3) $base-space;
    margin: 0 $base-space * 0.5;

    a {
      text-decoration: none;
      color: $text-light;
      transition: color 0.25s ease;
      cursor: pointer;

      &:hover {
        color: $emphasis-dark;
        transition: color 0.25s ease;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .greeting {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      margin-right: $space-3xl;
      color: $text-light;
      font-size: 1.8rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    button {
      background-color: $emphasis-dark;

      &:hover {
        background-color: #4c4aba;
      }
    }
  }
}
