@import '../assets/styles/abstract/variables';
@import '../assets/styles/base/base';

.container {
  background-color: $bg-light;
  padding: $base-space;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 250px;
}

.nav-list-group {
  list-style: none;
  display: flex;

  li {
    padding: $base-space/3 $base-space;
    margin: 0 $base-space/2;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
