@use './assets/styles/abstract/variables' as *;
@use './assets/styles/base/base' as *;

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.form-section {
  width: 95%;
  margin: 0 auto;
}

input {
  border: 1px solid $secondary;
  padding: 8px 10px;
  margin: 0 8px 0 4px;
}

.app-button {
  width: 175px;
  padding: $space-md;
  margin: $space-base auto;
  background-color: $primary;
  color: $text-light;
  border-radius: $space-xs;
  border: 1px solid $emphasis-light;
  -webkit-box-shadow: 1px 4px 4xpx -1px rgba(17, 17, 17, 0.23);
  box-shadow: 1px 4px 4px -1px rgba(17, 17, 17, 0.23);
  transition: background-color 0.25s ease;
  cursor: pointer;

  &:hover {
    background-color: $emphasis-dark;
    transition: background-color 0.25s ease;
  }

  &.close {
    background-color: $dark;
    border: none;

    &:hover {
      background-color: $disabled;
    }
  }
}

.text-error {
  color: $error-main;
  margin-top: $space-xs;
  font-size: 0.9rem;
  margin: $space-xs auto;
}
