$jet-black: #111111;
$very-light-gray: #f8f8f8;
$soft-indigo: #8685ef;
$light-pastel-violet: #faf8ff;
$pale-lavender: #dcd9ec;
$slate-blue: #6462f0;
$soft-crimson: #e45858;
$blush-mist: #f9d3d3;
$fog-grey: #cecece;
$blue-violet: #4c4aba;
$medium-gray: #6d6d6d;
