@import './_colours';

// Primary and secondary colours
$primary: $jet-black;
$secondary: $soft-indigo;

// Emphasis
$emphasis-dark: $slate-blue;
$emphasis-light-100: $pale-lavender;
$emphasis-lighter-200: $light-pastel-violet;

// Core colours
$dark: $jet-black;
$light: $very-light-gray;

// Error coloours
$error-main: $soft-crimson;
$error-light: $blush-mist;

$bg-light: $very-light-gray;
