@use './_colours' as *;

// Primary and secondary colours
$primary: $soft-indigo;
$secondary: $pale-lavender;

// Auxiliary colours - placeholder texts etc
$auxiliary: $fog-grey;
$disabled: $medium-gray;

// Emphasis
$emphasis-dark: $slate-blue;
$emphasis-dark-200: $blue-violet;
$emphasis-light: $pale-lavender;
$emphasis-light-200: $light-pastel-violet;

// Core colours
$dark: $jet-black;
$light: $very-light-gray;

// Error/delete colours
$error-main: $soft-crimson;
$error-light: $blush-mist;
$delete: $soft-crimson;
$delete-light: $blush-mist;

// Background colours
$bg-light: $very-light-gray;
$bg-dark: $jet-black;

// Text colours
$text-dark: $jet-black;
$text-light: $very-light-gray;
