@use './_colours' as colours;

// Primary and secondary colours
$primary: colours.$soft-indigo;
$secondary: colours.$pale-lavender;

// Auxiliary colours - placeholder texts etc
$auxiliary: colours.$fog-grey;

// Emphasis
$emphasis-dark: colours.$slate-blue;
$emphasis-light-100: colours.$pale-lavender;
$emphasis-light-200: colours.$light-pastel-violet;

// Core colours
$dark: colours.$jet-black;
$light: colours.$very-light-gray;

// Error coloours
$error-main: colours.$soft-crimson;
$error-light: colours.$blush-mist;

// Background colours
$bg-light: colours.$very-light-gray;
$bg-dark: colours.$jet-black;

// Text colours
$text-dark: colours.$jet-black;
$text-light: colours.$very-light-gray;
